@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #dedede;
}

nav {
    @apply bg-blue-400 text-white;
}

a {
    @apply font-bold;
}

h1 {
    @apply text-4xl font-bold;
}

.mainContainer {
    @apply pt-8 px-16;
}

.itemsContainer {
    @apply w-full bg-white shadow-2xl py-6 px-8 flex gap-4 overflow-x-scroll;
}

.gridContainer {
    @apply w-full bg-white shadow-2xl py-6 px-8 grid grid-cols-6 gap-4;
}
