@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #dedede;
}

nav {
    @apply bg-blue-400 text-white;
}

a {
    @apply font-bold text-blue-600;
}

h1 {
    @apply text-4xl font-bold;
}

.fullContainer {
    @apply pt-8 px-16;
    height: calc(100vh - 150px);
}

.mainContainer {
    @apply pt-8 px-16;
}

.itemsContainer {
    @apply w-full bg-white shadow-2xl py-6 px-8 flex gap-4 overflow-x-scroll;
}

.gridContainer {
    @apply w-full bg-white shadow-2xl py-6 px-8 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4;
}

.poster {
    @apply z-0 object-contain;
    width: calc(100% - 75px);
    height: calc(100% - 75px);
}
